@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Home/_Layout.cshtml";
}

<div class="row verticle-center">
    <div class="col-md-3 col-md-offset-1 text-center">
        <a href="/Vehicles/Register"><span class="sometext">Park</span><img class="homeimg" src="~/Content/Images/Park.png" /></a>
    </div>
    <div class="col-md-4 text-center">
        <a href="/Vehicles"><span class="sometext">Overview</span><img class="homeimg" src="~/Content/Images/List.png" /></a>
    </div>
    <div class="col-md-3 text-center">
        <a href="/Vehicles/Search"><span class="sometext">Search</span><img class="homeimg" src="~/Content/Images/MagnifyingGlass.png" /></a>
    </div>
</div>
<div class="row emptyrow"></div>
